[Unit]
Description=Nyancoin's distributed currency daemon
After=network.target

[Service]
User=nyancoin
Group=nyancoin

Type=forking
PIDFile=/var/lib/nyancoind/nyancoind.pid
ExecStart=/usr/bin/nyancoind -daemon -pid=/var/lib/nyancoind/nyancoind.pid \
-conf=/etc/nyancoin/nyancoin.conf -datadir=/var/lib/nyancoind -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
